<!--
 * @Descripttion: 
 * @version: 
 * @Author: ZZP
 * @Date: 2023-11-04 16:55:49
 * @LastEditors: ZZP
 * @LastEditTime: 2023-11-04 18:05:13
-->
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>注册</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport"
    content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <link rel="stylesheet" href="../../layuiadmin/layui/css/layui.css" media="all">
  <link rel="stylesheet" href="../../layuiadmin/style/admin.css" media="all">
  <link rel="stylesheet" href="../../layuiadmin/style/login.css" media="all">
  <script src="/js/jquery-3.6.0.js"></script>
  <style>
    .yuan {
      width: 30px;
      height: 30px;
      margin: 5px;
      background-color: aqua;
      border-radius: 30px;
      text-align: center;
      line-height: 30px;
    }
  </style>
</head>

<body>
  <div class="layadmin-user-login layadmin-user-display-show" id="LAY-user-login" style="display: none;">
    <div class="layadmin-user-login-main" id="LAY-component-layer-list">
      <div class="layadmin-user-login-box layadmin-user-login-header">
        <h2>管理员注册</h2>
      </div>
      <div class="layadmin-user-login-box layadmin-user-login-body layui-form">
        <div class="layui-form-item">
          <label class="layadmin-user-login-icon layui-icon layui-icon-username" for="LAY-user-login-nickname"></label>
          <input type="text" id="email" name="emailadd" placeholder="请输入邮箱" class="layui-input">
        </div>

        <div class="layui-form-item">
          <label class="layadmin-user-login-icon layui-icon layui-icon-password" for="LAY-user-login-password"></label>
          <input type="password" id="password" name="password" id="LAY-user-login-password" placeholder="密码"
            class="layui-input">
        </div>
        <div class="layui-form-item">
          <label class="layadmin-user-login-icon layui-icon layui-icon-password" for="LAY-user-login-repass"></label>
          <input type="password" id="confirmpassword" name="confirmpassword" placeholder="确认密码" class="layui-input">
        </div>
        <div class="layui-form-item">
          <label class="layadmin-user-login-icon layui-icon layui-icon-username" for="LAY-user-login-nickname"></label>
          <input type="text" id="name" name="name" id="LAY-user-login-nickname" placeholder="昵称" class="layui-input">
        </div>
        <div class="layui-form-item">
          <label class="layadmin-user-login-icon layui-icon layui-icon-cellphone"
            for="LAY-user-login-cellphone"></label>
          <input type="text" id="phone" name="phone" id="LAY-user-login-cellphone" placeholder="手机" class="layui-input">
        </div>
        <div class="layui-form-item">
          <label class="layadmin-user-login-icon layui-icon layui-icon-vercode" for="LAY-user-login-vercode"></label>
          <input type="text" name="InvitationCode" placeholder="邀请码"
            class="layui-input">
        </div>
        <div class="layui-form-item">
          <div class="layui-row">
            <div class="layui-col-xs7">
              <label class="layadmin-user-login-icon layui-icon layui-icon-vercode"
                for="LAY-user-login-vercode"></label>
              <input type="text" name="captcha" id="LAY-user-login-vercode"
                placeholder="图形验证码" class="layui-input">
            </div>
            <div class="layui-col-xs5">
              <div style="margin-left: 10px;">
                <img src="/user/captcha" onclick="this.src=this.src+'?time+'+Math.random()"
                  class="layadmin-user-login-codeimg" />
              </div>
            </div>
          </div>
        </div>
        <div class="layui-form-item">
          <a href="/login" class="layadmin-user-jump-change layadmin-link layui-hide-xs"
            style="margin-top: 7px;">用已有帐号登入</a>
        </div>
        <div class="layui-form-item layadmin-layer-demo">
          <button class="layui-btn layui-btn-fluid" lay-submit lay-filter="LAY-user-reg-submit" data-type="register">注
            册</button>
        </div>
      </div>
    </div>
    <div class="layui-trans layadmin-user-login-footer">
      <p>© All Rights Reserved </p>
    </div>
  </div>
  <script src="../../layuiadmin/layui/layui.js"></script>
  <script>

    var emailadd = null
    layui.config({
      base: '../layuiadmin/' //静态资源所在路径
    }).extend({
      index: 'lib/index' //主入口模块
    }).use(['index', 'user'], function () {
      var $ = layui.$
        , setter = layui.setter
        , admin = layui.admin
        , form = layui.form
        , router = layui.router();

      form.render();
      //提交
      form.on('submit(LAY-user-reg-submit)', function (obj) {
        var field = obj.field;
        $.ajax({
          url: '/user/CreateAdmin',
          type: 'POST',
          data: field,
          success: function (data) {
            if (data.code == 0) {
              layer.msg(data.msg, {
                offset: '15px'
                , icon: 6
                , time: 2000
              });
            } else {
              layer.msg(data.msg, {
                offset: '15px'
                , icon: 5
                , time: 2000
              });
            }
          }
        })
      });

    });


  </script>
  <script>

  </script>
</body>

</html>