<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>注册</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport"
    content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <link rel="stylesheet" href="../../layuiadmin/layui/css/layui.css" media="all">
  <link rel="stylesheet" href="../../layuiadmin/style/admin.css" media="all">
  <link rel="stylesheet" href="../../layuiadmin/style/login.css" media="all">
  <script src="/js/jquery-3.6.0.js"></script>
  <style>
    .yuan {
      width: 30px;
      height: 30px;
      margin: 5px;
      background-color: aqua;
      border-radius: 30px;
      text-align: center;
      line-height: 30px;
    }
  </style>

</head>

<body>


  <div class="layadmin-user-login layadmin-user-display-show" id="LAY-user-login" style="display: none;">
    <div class="layadmin-user-login-main" id="LAY-component-layer-list">
      <div class="layadmin-user-login-box layadmin-user-login-header">
        <h2>注册</h2>
      </div>
      <div class="layadmin-user-login-box layadmin-user-login-body layui-form">
        <div class="layui-form-item">
          <label class="layadmin-user-login-icon layui-icon layui-icon-username" for="LAY-user-login-nickname"></label>
          <input type="text" id="email" name="emailadd" placeholder="请输入邮箱" class="layui-input">
        </div>
        <div class="layui-form-item">
          <label class="layadmin-user-login-icon layui-icon layui-icon-password" for="LAY-user-login-password"></label>
          <input type="password" name="password" id="LAY-user-login-password" lay-verify="pass" placeholder="密码" class="layui-input">
        </div>
        <div class="layui-form-item">
          <label class="layadmin-user-login-icon layui-icon layui-icon-password" for="LAY-user-login-repass"></label>
          <input type="password" name="confirmpassword" id="LAY-user-login-password" lay-verify="pass" placeholder="密码" class="layui-input">
        </div>
        <div class="layui-form-item">
          <label class="layadmin-user-login-icon layui-icon layui-icon-username" for="LAY-user-login-nickname"></label>
          <input type="text" id="name" name="name" id="LAY-user-login-nickname" placeholder="昵称" class="layui-input">
        </div>
        <div class="layui-form-item">
          <label class="layadmin-user-login-icon layui-icon layui-icon-cellphone"
            for="LAY-user-login-cellphone"></label>
            <input type="text" name="phone" id="LAY-user-login-cellphone" lay-verify="phone" placeholder="手机" class="layui-input layui-form-danger">
        </div>
        <div class="layui-form-item">
          <div class="layui-row">
            <div class="layui-col-xs7">
              <label class="layadmin-user-login-icon layui-icon layui-icon-vercode"
                for="LAY-user-login-vercode"></label>
              <input type="text" id="captcha" name="captcha" id="LAY-user-login-vercode" placeholder="图形验证码"
                class="layui-input">
            </div>
            <div class="layui-col-xs5">
              <div style="margin-left: 10px;">
                <img src="/user/captcha" onclick="this.src=this.src+'?time+'+Math.random()"
                  class="layadmin-user-login-codeimg" />
              </div>
            </div>
          </div>
        </div>
        <div class="layui-form-item">
          <a href="/adminRegister" class="layadmin-link">管理员注册</a>
          <a href="/login" class="layadmin-user-jump-change layadmin-link layui-hide-xs"
            style="margin-top: 7px;">用已有帐号登入</a>
        </div>
        <div class="layui-form-item layadmin-layer-demo">
          <button class="layui-btn layui-btn-fluid" lay-submit lay-filter="LAY-user-reg-submit" data-type="register">注
            册</button>
        </div>
      </div>
    </div>
    <div class="layui-trans layadmin-user-login-footer">
      <p>© All Rights Reserved </p>
    </div>

  </div>

  <script src="../../layuiadmin/layui/layui.js"></script>
  <script>
    const token = window.localStorage.getItem('token')
    var emailadd = null
    layui.config({
      base: '../layuiadmin/' //静态资源所在路径
    }).extend({
      index: 'lib/index' //主入口模块
    }).use(['index', 'user'], function () {
      var $ = layui.$
        , setter = layui.setter
        , admin = layui.admin
        , form = layui.form
        , router = layui.router();

      form.render();
      //提交
      form.on('submit(LAY-user-reg-submit)', function (obj) {
        var field = obj.field;
        //确认密码
        if (field.password !== field.confirmpassword) {
          return layer.msg('两次密码输入不一致');
        }
        layer.msg('发送验证码中', {
          icon: 16,
          time: 30000
        })
        var field = obj.field;
        $.ajax({
          url: '/user/register',
          type: 'POST',
          data: field,
          success: function (data) {
            if (data.code == 0) {
              layer.msg(data.msg, {
                offset: '15px'
                , icon: 6
                , time: 2000
              });
              type = 1
              email = field.emailadd
              layer.open({
                title: '校验验证码'
                , type: 2
                , btn: ['认证', '取消'] //可以无限个按钮
                //,skin: 'layui-layer-rim'
                , shadeClose: true
                , area: admin.screen() < 2 ? ['80%', '300px'] : ['400px', '190px']
                , content: '/emailCaptchaForm'
                , yes: function (index, layero) {
                  var iframeWindow = window['layui-layer-iframe' + index]
                    , submitID = 'LAY-user-front-submit'
                    , submit = layero.find('iframe').contents().find('#' + submitID);
                  //监听提交
                  iframeWindow.layui.form.on('submit(' + submitID + ')', function (data) {
                    layer.msg('验证中', { icon: 16 })
                    var field = data.field;
                    //获取提交的字段
                    //提交 Ajax 成功后，静态更新表格中的数据
                    //$.ajax({});
                    $.ajax({
                      url: '/user/CreateUser',
                      type: 'POST',
                      data: {
                        "emailadd": email,
                        "emailcaptcha": field.emailcaptcha
                      },
                      success: function (data) {
                        if (data.code == 0) {
                          layer.close(index); //关闭弹层
                          layer.msg(data.msg, {
                            offset: '15px'
                            , icon: 6
                            , time: 3000
                          });
                          
                        } else {
                          layer.msg(data.msg, {
                            offset: '15px'
                            , icon: 5
                            , time: 3000
                          });
                        }
                      }
                    })


                  });
                  submit.trigger('click');
                  return false
                }
                , btn2: function (index, layero) {
                  console.log('取消')
                  return false
                }
              });
            } else {
              layer.close(layer.index)
              layer.msg(data.msg, {
                offset: '15px'
                , icon: 5
                , time: 3000
              });
            }
          }
        })
      });

    });


  </script>
  <script>

  </script>
</body>

</html>